<div class="container mt-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-10 col-lg-10">
      <div class="border">
        <div class="question bg-white p-3 border-bottom">
          <div class="d-flex flex-row justify-content-between align-items-center mcq">
            <h4>{{this.activePage.name}}</h4><span>({{this.indexPage + 1}} of {{pages.length}})</span>
          </div>
        </div>
        <div *ngFor="let element of activePage.elements" class="question bg-white p-3 border-bottom">
          <div *ngIf="element.type === ElementType.Panel" class="panel panel-default">
            <div *ngFor="let element of element.elements" class="panel-body">

              <div *ngIf="element.type === ElementType.HTML" [innerHTML]="element.html">

              </div>

              <div *ngIf="element.type === ElementType.Checkbox">
                <h4>{{element.title}}</h4>
                <div *ngFor="let choice of element.choices" class="form-check">
                  <input class="form-check-input" type="checkbox" value={{choice.value}} id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    {{choice.text}}
                  </label>
                </div>
              </div>
              
              <div *ngIf="element.type === ElementType.Radiogroup">
                <h4>{{element.title}}</h4>
                <div *ngFor="let choice of element.choices" class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    {{choice.text}}
                  </label>
                </div>
                
              </div>
            </div>
          </div>
          <!-- <div class="d-flex flex-row align-items-center question-title">
                      <h5 class="mt-1 ml-2">{{element.name}}</h5>
                  </div> -->

        </div>
        <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
          <button [disabled]="this.indexPage === 0" (click)="previousPage()"
            class="btn btn-primary d-flex align-items-center btn-danger" type="button">
            <i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous
          </button>
          <button [disabled]="this.indexPage + 1 === pages.length" (click)="nextPage()"
            class="btn btn-primary border-success align-items-center btn-success" type="button">
            Next<i class="fa fa-angle-right ml-2"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>